﻿﻿@using ProjectRM.viewmodels;
@model VMTblVariant

@{
    Layout = null;
    ViewData["Title"] = "Detail Variant";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>



        <div class="mb-4 row">
            <label for="NameCategory" class="col-sm-4 col-form-label">Name Variant</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>

            </div>
        </div>

        <div class="mb-4 row">
            <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="NameCategory" name="NameCategoty" value="@Model.NameCategory" readonly>

            </div>
        </div>

        <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-sm-8">
                <a class="btn btn-light" asp-controller="Variant" asp-action="Index">Back to List</a>
            </div>
        </div>

    </div>
</div>

