﻿

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/ogani/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/ogani/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/ogani/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/ogani/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/ogani/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/ogani/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/ogani/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/ogani/css/style.css" type="text/css">

    <!-- Toastr  file nya didownload -->
    <script src="~/ogani/plugins/toastr/toastr.min.js"></script>
    <link rel="stylesheet" href="~/ogani/plugins/toastr/toastr.min.css">
    <!-- Sweetalert2 file nya didownload-->
    <script src="~/ogani/plugins/sweetalert2/sweetalert2.js"></script>

</head>

<body>
    
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <partial name="_Header" />




    <!-- Header Section End -->
    <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
    </div>
    <!-- Hero Section Begin -->
   
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <!-- Categories Section End -->
    <!-- Featured Section Begin -->
    <!-- Featured Section End -->
    <!-- Banner Begin -->
    <!-- Banner End -->
    <!-- Latest Product Section Begin -->
    <!-- Latest Product Section End -->
    <!-- Blog Section Begin -->
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->




    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="~/ogani/index.html"><img src="~/ogani/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="~/ogani/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- Modal -->

    <div class="modal fade" id="my_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body">
                    ...
                </div>

            </div>
        </div>
    </div>

    <!-- Footer Section End -->
    <!-- Js Plugins -->
@*     <script src="~/ogani/js/jquery-3.3.1.min.js"></script> *@
    <script src="~/ogani/js/bootstrap.min.js"></script>
    <script src="~/ogani/js/jquery.nice-select.min.js"></script>
    <script src="~/ogani/js/jquery-ui.min.js"></script>
    <script src="~/ogani/js/jquery.slicknav.js"></script>
    <script src="~/ogani/js/mixitup.min.js"></script>
    <script src="~/ogani/js/owl.carousel.min.js"></script>
    <script src="~/ogani/js/main.js"></script>



</body>

</html>
