﻿@using ProjectRM.viewmodels;
@using ProjectRM.datamodels;
@model PaginatedList<VMTblProduct>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Product</h2>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <button id="btn_create" class="btn btn-primary">Create</button>

                    <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">

                        <div class="input-group w-100">
                            <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search..." />
                            <div class="input-group-prepend">
                                <button type="submit" class="input-group-text" title="search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <a class="input-group-text" asp-action="Index" title="reset">
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="row featured__filter mt-4">
            @if (Model.Count != 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="images/@item.Image">
                                <ul class="featured__item__pic__hover">
                                    <li><a dataid="@item.Id" class="btn_edit"><i class="fa fa-pencil"></i></a></li>
                                    <li><a dataid="@item.Id" class="btn_detail"><i class="fa fa-gear"></i></a></li>
                                    <li><a dataid="@item.Id" class="btn_delete"><i class="fa fa-trash"></i></a></li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h5>@item.NameProduct</h5>
                                <h6><a>@item.NameCategory / @item.NameVariant</a></h6>
                                <h5>@item.Price</h5>
                            </div>
                        </div>
                    </div>

                }
            }
            else
            {
                <div class="row featured__filter">
                    data Not Found
                </div>
            }

        </div>
    </div>



    <div class="card-footer">

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row">
            <div class="col-2">
                <form asp-action="Index" id="form_pagesize">
                    <select name="PageSize" id="PageSize" class="form-control">
                        <option value="4">4</option>
                        <option value="8">8</option>
                        <option value="16">16</option>
                    </select>
                </form>
            </div>
            <div class="col-10">
                Page @Model.PageIndex of @Model.TotalPages

                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @nextDisabled">
                    Next
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @prevDisabled">
                    Prev
                </a>


            </div>
        </div>

    </div>

</section>


<script>
    $("#btn_create").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Product/Create")
        $("#my_modal").modal("show")
    })



    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")
        $("#modal_body").empty()
        $("#modal_body").load("/Product/Edit?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn_detail").click(function () {
        var id = $(this).attr("dataid")
        $("#modal_body").empty()
        $("#modal_body").load("/Product/Detail?id=" + id)
        $("#my_modal").modal("show")

    })

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")
        $("#modal_body").empty()
        $("#modal_body").load("/Product/Delete?id=" + id)
        $("#my_modal").modal("show")
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)
    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })
</script>
