﻿﻿@using ProjectRM.datamodels;
@model TblCategory;
@{
    ViewData["Title"] = "Detail Product";
}

<div class=" card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>


        <div class="mb-4 row">
            <label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameCategory" readonly>
                <span id="validate_NameVariant" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row">
            <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
            <div class="col-sm-8">
            <textarea type="text" class="form-control" id="IdCategory" name="IdCategory"  readonly>@Model.Description</textarea>
            </div>


        </div>


        <div class="mb-4 row">
            <label for="ImageFile" class="col-sm-4 col-form-label">Image</label>
            <div class="col-sm-8">
                @if (Model.Image != null)
                {
                    <img src="~/images/@Model.Image" alt="Gambar @Model.NameCategory" class="" height="100" />
                }
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <a class="btn btn-outline-primary" asp-controller="Category" asp-action="Index">Back To List</a>
            </div>
        </div>
    </div>
</div>





