﻿@using ProjectRM.datamodels;
@model TblCategory

@{

    ViewData["Title"] = "Edit Category";
}


<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Edit" method="post" id="form_input">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">


            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
                    <span id="validate_NameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Description" name="Description">@Model.Description</textarea>
                </div>
            </div>


            <div class="mb-4 row">
                <label for="ImageFile" class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-8">
                    @if (Model.Image != null)
                    {
                        <img src="~/images/@Model.Image" alt="Gambar @Model.NameCategory" class="" height="100" />
                    }
                </div>
            </div>

            <div class="mb-4 row">
                <label for="ImageFile" class="col-sm-4 col-form-label">Upload Image </label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" id="ImageFile" name="ImageFile" value="@Model.Image">
                </div>
            </div>



            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-outline-primary" asp-controller="Category" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameCategory: {
                required: true,
                minlength: 3,
            }

        },
        messages: {
            NameCategory: {
                required: "Please insert Name Category",
                minlength: "Please Insert at least 3 character"
            }
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()
            var nameCategory = $("#NameCategory").val()
            var id = $("#Id").val();

            $.ajax({
                url: "/Category/CheckNameIsExist",
                type: "get", //type atau method sama aja.
                data: { nameCategory: nameCategory, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_NameCategory").text("Name Category Already Axists")
                        return true;
                    }
                    else {
                        fungsiSubmit(form)
                    }
                }

            })
        }
    })

    function fungsiSubmit(form) {
        var formData = new FormData()

        var dataForm = $(form).serializeArray()

        $.each(dataForm, function (key, input) {
            formData.append(input.name, input.value)
        })
        var file = $("#ImageFile").prop("files")
        if (file.length > 0) {
            formData.append("ImageFile", file[0])
        }
        $.ajax({
            url: "/Category/Edit",
            type: "post",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")
                    Swal.fire({
                        title: "Information!",
                        text: data.message,
                        icon: "success"
                    }).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }


    jQuery.validator.addMethod("typeFile", function (value, element, param) {
        return value.match(new RegExp("." + param + "$"));
    });

    jQuery.validator.addMethod("sizeFile", function (val, element) {
        var size = element.files[0].size;
        if (size > 1048576)// checks the file more than 1 MB
        {
            return false;
        } else {
            return true;
        }
    });

</script>