﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="hero__item set-bg" data-setbg="ogani/img/hero/simpangraya.jpg">
    <div class="hero__text">
        <span>RUMAH MAKAN</span>
        <h2 style="color:white; text-shadow:black -5px -5px 5px"> SIMPANG RAYA <br />100% ASLI PADANG</h2>
        <p style="color:green">Free Pickup and Delivery Available</p>
        <a href="#" class="primary-btn">SHOP NOW</a>
    </div>
</div>